.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 256px;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  .menu {
    height: calc(100% - 4.45rem) !important;
    overflow: auto;
    position: relative;
    &::-webkit-scrollbar {
      width: 3px;
      height: 2px;
      background-color: #fff;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 10px;
    }
  }
  .logo {
    padding: 20px 24px 10px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 10px #fff;
    gap: 10px;
    .link {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    h3 {
      font-size: 22px;
      font-weight: 600;
      color: #4d4b55;
    }
  }
}
