.heading {
  padding: 0.8rem 1rem;
  -webkit-box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  h2 {
    font-weight: 500;
    font-size: 20px;
    color: #4b465cde;
  }
  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
}
